---
layout: default
type: index
---
<div class="site__banner">
</div>
<div class="site__social">
  <ul class="social-media">
    <li><a href="{{ site.twitter_username | prepend: 'http://www.twitter.com/' }}" target="_blank">{% include assets/twitter.svg %}</a></li>
    <li><a href="{{ site.linkedin_username | prepend: 'http://www.linkedin.com/in/' }}" target="_blank">{% include assets/linkedin.svg %}</a></li>
    <li><a href="{{ site.github_username | prepend: 'http://www.github.com/' }}" target="_blank">{% include assets/github.svg %}</a></li>
  </ul>
</div>
