
  <h1 class="page__title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
  <nav class="nav__container">
    <ul class="nav {% if page.nav == 'light' %}nav--light{% endif %}">
      <li><span>{% include assets/bullet.svg %}</span><a href="{{ '/' | prepend: site.baseurl }}">home</a></li>
      <li><span>{% include assets/bullet.svg %}</span><a href="{{ '/about/' | prepend: site.baseurl }}">about</a></li>
      <li><span>{% include assets/bullet.svg %}</span><a href="{{ '/games/' | prepend: site.baseurl }}">games</a></li>
      <li><span>{% include assets/bullet.svg %}</span><a href="{{ '/blog/' | prepend: site.baseurl }}">blog</a></li>
    </ul>
  </nav>
