.page--blog {
	.page__title {
		color: $light;
	}
	.section--left {
		background: $purple;
	}
	.page__content {
		.permalink {
			color: $purple;
		}
		.subtitle {
			color: $green;
			text-align:center;
		}
	}
}

.article a {
	color: $purple;
}
.article img {
	max-height: 50vh;
}

.color-green {
	color: $green;
}

@media (max-width:700px) and (orientation: portrait) {
	.article img {
		max-height:66.66vh;
	}
}
