.site__banner {
	background: $green;
	background: -webkit-linear-gradient(left, $green 0%, $grey 100%);
    background: linear-gradient(to right, $green 0%, $grey 100%);
	height: $banner-height;
	left:0;
	margin-top: -$banner-height / 2;
	position:fixed;
    top:50%;
    width:100%;
}
.site__social {
	margin-left:auto;
	margin-top: $banner-height / 2;
	padding:$standard-padding;
	position:absolute;
	right:0;
	top:50%;
}
.social-media {
	list-style:none;
	li {
		display:inline-block;
		margin-left:0.5rem;
	}
	.svg {
		background:transparent;
		fill: $purple;
		width:5em;
	}
}
.page--index .page__title {
	position:fixed;
}

.footer {
	background: $grey;
	bottom:0;
	color: $light;
	height:40px;
	letter-spacing:0.5px;
	line-height:40px;
	padding:0 10px;
	position:fixed;
	text-align:right;
	text-transform:uppercase;

	width:100%;

	a::after {
		background: $light;
	}
}
