@media (max-width:770px) {
	.page--index .page__title {
		margin-top: -120px;
		line-height: 1em;
	}
	.site__banner {
		height: $banner-mobile;
		margin-top: -$banner-mobile / 2;
	}
	.site__social, .nav__container {
		margin-top: $banner-mobile / 2;
	}
	.page--index .nav__container {
		position:fixed;
		z-index:2;
	}
	.page:not(.page--index) .nav__container {
		margin-top: 0;
		position:absolute;
		top:auto;
		bottom:0;
	}
	.page__title {
		font-size:3em;
	}
	.post {
		padding:4em 2em;
	}
	.section {
		width:100%;
	}
	.section--left {
		height:50%;
		position:absolute;
	}
	.section--right {
		height:auto;
		margin-left:0;
		margin-top:50%;
		min-height:50%;
		overflow:hidden;
		position:absolute;
	}
	.page--about .section--right {
		@include vertical-center-parent(left, 50vh);
	}
	.page--about .page__content {
		@include vertical-center(true);
	}

	.site__social {
		bottom:40px;
		margin-top:0;
		position:fixed;
		top:auto;

		.svg {
			width:2.8rem;
		}
	}
}

@media (max-width:500px) {
	.page--index .page__title {
		margin-top:-240px;
	}
}
