.lSSlideOuter.vertical {
	@include flexbox();
	//@include flex-direction(column);
	//@include flex-wrap(wrap);
	@include justify-content(center);
	@include align-items(center);
	height:100%;
	width:100%;
}

.lSAction {
	a {
		background:none;
	}
	.lSPrev, .lSNext {
		background:none !important;
		margin-left:-16px !important;
	}
	.lSPrev {
		margin-top: 12px !important;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	.lSNext {
		margin-bottom: 12px;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

.slider__single {
	@include flexbox();
	@include align-items(center);
	img {
		max-height:230px;
		max-width:80%;
	}
}
.slider__inner {
	padding: 4em 0;
	margin:0 auto;
	max-width:400px;
	text-align:center;
	width:100%;

	img, h3 {
		margin-bottom:$spacing-unit;
	}
	h4 {
		margin-bottom:$spacing-unit - 10px;
	}
}
.slider__back-to-top {
	font-weight:700;
	padding:1rem;
	position:absolute;
	right:0;
	top:0;
}

@media (min-width:770px) {
	.lSAction {
		.lSPrev, .lSNext {
			position:fixed;
			left:75% !important;
		}
	}
	.slider__inner {
		padding:0;
	}
}

@media (max-height:700px) {
	.slider__single img {
		max-height:175px;
	}
	.slider__inner {
		img, h3 {
			margin-bottom: $spacing-unit*0.75;
		}
		h4 {
			margin-bottom:($spacing-unit - 10px)*0.75;
		}
	}
}
@media (max-height:600px) {
	.slider__single img {
		display:none;
	}
	.slider__inner h4 {
		margin-bottom: $spacing-unit*0.75;
	}
}

