<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  	<div class="page page--{{ page.type }}">
  		<div class="section section--left">
  			{% include header.html %}
  		</div>
  		<div class="section section--right">
    		{{ content }}
    	</div>
    </div>
    {% if page.type == 'index' %}
      <footer class="footer">
        Site by <a href="http://www.woodward.sh" target="_blank">Hannah Woodward</a>
      </footer>
    {% endif %}
  </body>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{{ '/assets/slick/slick.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/scripts.js' | prepend: site.baseurl }}"></script>
</html>
