---
layout: default
---
<ul class="slider slider--blog page__content">
    {% for post in site.categories['blog'] %}
    	<li class="slider__single">
    		<div class="slider__inner">
   				<h3 class="subtitle"><a href="{{ post.url | prepend: baseurl }}">{{ post.subtitle }}</a></h3>
    			<img src="{{ post.imageurl }}">
    			{{ post.content | truncatewords:25 }}
    			<h5>Posted {{ post.date | date: "%d-%m-%Y" }} / <a href="{{ post.url | prepend: baseurl }}" class="permalink">Permalink</a></h5>
    		</div>
    	</li>
    {% endfor %}
</ul>
{% comment %}<a href="#" class="slider__back-to-top">Back to top <span>&#65085;</span></a>{% endcomment %}
